<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="URL" value ="http://demoqa.com/" />
    <add key="ExcelSheetName" value="\homework2_POM\DataDrivenTests\"/>
    <!--<add key="ExcelSheetName" value="..\..\DataDrivenTests\"/>-->     
    <!--Втори начин за достъп до Ексел Мапа, трябва да се направи промяна и в AccessExcelData.cs файла за да сработи-->
    
  </appSettings>
</configuration>